.choose {
    text-align: center;
    color: white;
  }
  .card {
    display: flex;
    flex-flow: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 1em;
    text-align: center;
    line-height: 17px;
    border-radius: 10px;
    background-color: #70f745;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  
  }
  
  .species {
    color: grey;     
    font-size: 22px;
  }
  
 
  .card button:hover {
    opacity: 0.7;
  }
  
 
  h1 {
    line-height: 1.2;
  }
  .charimg {
    width: 100%;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 600px) {
    .card {
      max-width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .heart {
    height: 60px;
    align-self: baseline;  }